.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
  color: #001832;
}
.infoSale {
  margin-left: 150px;
}

.imagen {
  /* width: 140px; */
  width: 11vw;
}

@media (max-width: 800) {
  .imagen {
    width: 50px;
  }
}

.cell {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.table {
  width: auto;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
