.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
  color: #001832;
}

.imagen {
  /* width: 140px; */
  width: 11vw;
}

@media (max-width: 800) {
  .imagen {
    width: 50px;
  }
}
