.aboutPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.story{
    display: grid;
    place-items: top;
    /* border: 2px solid black; */
    /* height: 60vh; */
    width: 90vw;
    margin: 5px auto;
}

.title{
    /* margin: 0 auto; */
    color: #18A0FB;
    font-size: 40px;
}

.body{
    font-size: large;
    font-weight: 500;
    /* margin: 0 auto; */
}

.secondBlock{
    display: flex;
        /* border: 2px solid black; */
        justify-content: center;
        align-items: center;
        /* height: 30vh; */
}

.smallBlockHolder{
    width: 40vw;
    /* height: 20px; */
    margin: 15px;
    /* border: 2px solid black; */
}

.goBack{
    margin-left: 25px;
    color: #001832;
    cursor: pointer;
    width: 120px;
}
.goBack:hover{
    color: #02458d;
}

@media only screen and (max-width: 830px) {

  .secondBlock{
    display: grid;
    width: 100vw;
  }
  .smallBlockHolder{
    width: 80vw;
  }
 
}