/* Card.module.css */

.card {
  width: 300px;
  max-height: 400px;
  border: 2px solid rgb(6, 6, 246);
  border-radius: 5px;
  overflow: auto;
  margin: 20px;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  border-color: rgb(120, 120, 122);
  background-color: #f0f0f0;
}
.cardContent {
  padding: 10px 30px 10px 20px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h6 {
  font-size: 16px;
  margin: 5px 0;
}

.cardImage {
  width: 300px;
  height: 250px;
  object-fit: fill;
  max-width: 100%;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;
  }
}
