:root {
  --curious-blue-50: #eff9ff;
  --curious-blue-200: #b6e7ff;
  --curious-blue-500: #009ee3;
  --curious-blue-700: #006dab;
  --curious-blue-800: #005c8d;
  --curious-blue-950: #04304d;
}
/* 
.dividerLine {
  height: 1px;
  width: 100%;
  background-color: var(--curious-blue-200);
  margin: 0 20px;
}

.graphContainer {
  width: 50%;
}

.graphTitle {
  font-size: 2rem;
  color: var(--curious-blue-700);
  margin-bottom: 20px;
}

.ganSucDetails {
  margin-top: 10px;
  
} */
/* DashboardAdmin.module.css */
.graphTitle {
  font-size: 1.3rem;
  color: var(--curious-blue-700);
  margin-bottom: 10px;
}
.gananciasGraph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  height: 200px;
}

.graphContainer,
.graphDetails {
  width: 50%; /* Ajusta según tus preferencias */
  height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
}

.ganSucDetails {
  margin-top: 10px;
  color: var(--curious-blue-800);
}
.dividerLine {
  height: 2px;
  width: 100%;
  background-color: var(--curious-blue-200);
  margin: 0 20px;
}
