.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #edf3fb;
    transition: opacity 0.75s, visibility 0.75s;
}

/* .hidden{
    opacity: 0;
    visibility: hidden;
} */

.loader::after{
    content: "";
    width: 95px;
    height: 95px;
    border: 3px solid rgb(195, 194, 194);
    border-top-color:  #18a0fb;
    border-radius: 50px;
    animation: loading 0.8s ease infinite;
}

@keyframes loading{
    from {transform: rotate(0turn)}
    from {transform: rotate(1turn)}

}