.divMain {
  display: grid;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Opcional: Ajustar el alto al 100% del viewport */
}

.tittle {
  font-size: 3vw;
}

.info {
  font-size: 2em;
}

.img {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
}

.divTittle {
  display: grid;
  justify-content: center;
  align-items: center;
}
