.containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--curious-blue-100);
}

.containerInfo {
  display: flex;
  background-color: var(--curious-blue-50);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--curious-blue-200);
}

.image {
  max-width: 350px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.infoProduct {
  flex: 1;
  padding-left: 20px;
  color: var(--curious-blue-900);
}

.tittle {
  color: var(--curious-blue-950);
  font-size: 30px;
  line-height: 2;
}

.parrafoInfo {
  display: flex;
  color: var(--curious-blue-700);
  font-size: 20px;
  line-height: 1.5;
}

.divMain {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: auto;
  max-width: 80%;
}

.buttons {
  background-color: rgb(0, 158, 227);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.info {
  margin-top: 10px;
  margin-bottom: 5px;
}

.selectModal,
.optionModal {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttModal {
  background-color: rgb(0, 158, 227);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
}
.buttModal:disabled {
  background-color: rgba(0, 159, 227, 0.67);
  cursor: not-allowed;
}
.errorMessage {
  color: #ff0000;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.buttons {
  background-color: #009ee3;
  border: 2px solid #04304d;
  color: #04304d;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.buttons:hover {
  transform: scale(1.2);
}
.container {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.138);
  backdrop-filter: blur(10px);
  padding-top: 80px;
}

.closedModal {
  display: none;
}
