.landingPage{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid black; */

}

.sideInfo{
    margin: 30px;
    /* margin-left: 55px; */
    /* border: 2px solid black; */
    height: 600px;
    width: 30vw;
}

.sideText{
    font-size: 40px;
    color: #18A0FB;
}

.sideBox{
    display: grid;
    /* place-items: center; */
    /* border: 2px solid black; */
    width: 50vw;
    margin: 10px;
}

.corporateImage{
    width: 600px;
    margin: 0 auto;
}

.corporateImage:hover{
    cursor: pointer;
}

@media only screen and (max-width: 830px) {

    .sideInfo{
        width: 80vw;
    }
    .sideBox{
        display: none;
    }
 
}
