@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  display: flex;
  margin-block-end: 0.4rem;
  inline-size: 13.75rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(138, 230, 230, 0.527);
}

.button button {
  font-size: 16px;
  color: rgb(9, 3, 40);
  font-weight: bold;
  border-radius: 0.5rem;
}
.button button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@layer components {
  .ButtonSelect {
    @apply w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full hover:bg-indigo-100 focus:shadow-blue-900;
  }
}
