.searchcontainer {
  position: relative;
  display: flex;
  margin: 8px;
}

.searchinput {
  border-color: aquamarine;
  padding: 8px;
  padding-right: 34px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #009ee3;
  outline: none;
  font-size: 0.8rem;
}

.searchbutton {
  background-color: #009ee3;
  width: 34px;
  padding: 8px;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: #009ee3;
}
