

.toggleButton{
    height: 50px;
    width: 70px;
}

.hideToggle{
    display: none;
}

.toggleButton2{
    height: 50px;
    width: 70px;
    margin-left: 20px;
}

.bigContainer{
    overflow: hidden;
    background: rgb(255, 255, 255);
    display: flex;
}


.container{
    display: block;
    background: rgb(255, 255, 255);
    text-align: center;
    font-weight: 350;
    width: 360px;
}


.containerNOT{
    display: none;
    background: rgb(255, 255, 255);
    text-align: center;
    font-weight: 350;
}

.title {
  font-weight: 700;
}

.header{
    display: flex;
}

.header h2{
    min-width: 500px;
    text-align: start;
}

.container h2 {
  margin: 17px;
}

.divider {
  height: 1px;
  width: 99%;
  background: rgb(195, 194, 194);
  /* margin: 24px; */
  margin-top: 0px;
  margin-bottom: 2px;
}

.comprar {
  width: 120px;
  height: 38px;
  background: rgb(83, 219, 52);
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.buttonHolder{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.buttonHolder{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.delete {
    width: 120px;
    height: 38px;
    background: rgb(201, 0, 0);
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
  }

.comprar:hover {
  background-color: rgb(65, 176, 40);
}

.delete:hover{
    background: rgb(120, 1, 1);
}
