.table {
  width: auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.cell {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
