.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aqua;
  background-image: url("../../assets/3349370.jpg");
  background-size: cover;
}

.containerForm {
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(52, 152, 219, 0.5);
  /* Azul rey con 50% de opacidad */
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  backdrop-filter: blur(10px);
  /* Ajusta el valor de desenfoque según tus preferencias */
}

.title {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.inputSubmit {
  width: 100%;
  padding: 10px;
  border: solid;
  border-radius: 4px;
  color: #ffffff;
  /* Azul rey */
  cursor: pointer;
}

.inputSubmit:hover {
  color: #000000;
}

.selected {
  display: flex;
  justify-content: center;
  padding: 4px;
  background-color: #45a049;
  border-radius: 5px;
  margin: 5px;
}
.selected > button:hover {
  background-color: firebrick;
  padding: 1px;
  border-radius: 50px;
}

.selected > p {
  margin-right: 15px;
}

.labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}
/* AfterSignUp.module.css */

.labelSucursal {
  display: inline-block;
  margin-right: 8px;
}

.input {
  padding: 4px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.buttonAdd {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonAdd:hover {
  background-color: #45a049;
}
