.header{
    background-color: #001832;
    min-width: 100vw;
    height: 180px;
    flex-direction: flex-start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8px;
}

.headerHolder{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

.logoImage{
    width: 170px;
}

.login{
    background-color: #189FFB;
    height: 40px;
    width: 130px;
    font-size: medium;
    margin: 11px;
    color: black;
}
.login:hover{
    background-color: #183efb;
}

.element{
    margin: 11px;
    color: #ded9d9;
}
.element:hover{
    cursor: pointer;
    color: #189FFB;
}

@media only screen and (max-width: 830px) {
    .header{
        display: grid;
        place-items: center;
        height: 380px;
    }
    .headerHolder{
        display: grid;
        place-items: center;

    }
 
}