.contactPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4863889.jpg&f=1&nofb=1&ipt=414b2c4b49229a2565f4d7f2c73dc0b5cdaf7ac002d3b8fcfa4784bda3266f5b&ipo=images");
  background-size: cover;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.5);
}

.bigTitle {
  width: 100vw;

  color: #000000;
  margin-left: 300px;
  margin-right: 10px;
  margin-top: 170px;
  font-size: 3rem;
}

.boxHolder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
}

.contactBox {
  border-top: 9px solid #001832;
  border-bottom: 1px solid rgb(164, 163, 163);
  border-left: 1px solid rgb(164, 163, 163);
  border-right: 1px solid rgb(164, 163, 163);
  border-radius: 12px;
  box-shadow: 10px 5px 13px #000000;
  width: 250px;
  height: 300px;
  text-align: center;
  margin: 25px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(3px);
  /* background-color: rgb(237, 231, 223); */
}

.title {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
  /* text-align: center; */
}

.icon {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
}

.icon:hover {
  color: #02458d;
}

.goHolder {
  width: 100vw;
}

.goBack {
  margin-left: 25px;
  color: #001832;
  cursor: pointer;
  /* width: 100vw; */
}

.goBack:hover {
  color: #02458d;
}

@media (max-width: 800px) {
  .boxHolder {
    margin-top: 70px;
  }
}

.text {
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  margin-top: 20px;
  cursor: pointer;
}
.link:hover {
  color: #02458d;
}
.textWithBackground {
  background-image: url("../../assets/Contactanos.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: black;
  border-radius: 20px;
}
