.content {
  color: rgb(45, 45, 45);
  background: rgb(255, 255, 255);
  position: fixed;
  padding-top: 15px;
  width: 265px;
  height: 100vh;
  overflow-y: auto;
}

.logoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.imgcontent {
  display: flex;
  cursor: pointer;
}

.imgcontent img {
  max-width: 50px;
  height: auto;
}

h2 {
  display: block;
}

.linkContainer {
  margin: 8px 0;
  padding: 0 15%;
  transition: background-color 0.3s;
}

.linkContainer:hover,
.activeLink .linkContainer {
  background: #009ee3;
}

.linkIcon {
  padding: 8px 16px;
  display: flex;
}

.Links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 6px 0;
  color: black;
}

.activeLink .Links {
  color: #ffffff;
}

.activeLink {
  background-color: #009ee3;
  color: #ffffff;
}

.divider {
  height: 1px;
  width: 99%;
  background: rgb(195, 194, 194);
  margin: 24px 0;
}

.side > h3 {
  margin-left: 25%;
}
/* 
@media (max-width: 800px){
  .content{
    width: 200px;
  }
} */
