.divMain {
  margin: 2vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  border-radius: 20px;
  border: 2px solid black;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  position: relative;
}
.buttons:hover {
  background-color: #e0e0e0;
}

.filtrosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
